{
    margin: 0;
    padding: 0;
}

body {
    background-color: #191024;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    width:200px;
    height: 80px;
    background-color: #f9f9fa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 100px;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    font-size: 36px;
    color: #111;
    font-family: "Arial", sans-serif;
    letter-spacing: 2px;
}